@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

/*-----------ESTILOS NAVBAR-------------*/
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-luceros img {
    width: 10rem;  /* antes 150px */
    margin: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative;
    padding: 0 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    font-weight: 400;
    padding: 0;   
}

.nav-links li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;  
    top: 10%;
    height: 80%; 
    width: 2px;
    background-color: #000000;
}

.nav-links .programas-mod {
    font-weight: 800;
    color: #AB6257;
}

.nav-links .programas-mod:hover {
    color: #7D2F28;
}

.nav-links .contacto-mod {
    font-weight: 800;
    background-color: #AB6257;
    padding: 0.3rem 1.2rem;
    border-radius: 0.4rem;
    color: #FFFFFF;
}

.nav-links .contacto-mod:hover {
    background-color: #7D2F28;
    transition: background-color 0.3s ease;
}

/*----------------IMÁGEN DE FONDO ESTRELLA---------------------------*/

.fondo-estrella {
    background-image: url('/luceros/img/estrella_background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: -15% 30%;
    background-size: 70%;
    position: relative;
    z-index: 0;
}

/*----------------------ESTILOS HERO*------------------------*/

main {
    width: 100%;
    box-sizing: border-box;
}

#hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: nowrap;
    padding-top: 8rem;
}

/* Hero izquierda */
.hero-left {
    flex: 0 0 auto;          /* no se encoge ni crece */
    position: relative;
    margin-right: -14rem;
}

/*Contenido izquierda*/

.jugador-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content
}

.hero-left img {
    width: 100vw;      /* la imagen ocupará mitad de pantalla */
    max-width: 900px;
    height: auto;
    position: relative;
    z-index: 1;
}

.tag {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background: rgba(172, 98, 88, 0.7);
    width: 4vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease, background 0.3s ease; /* animación suave */
}

.tag:hover {
    background: rgba(125, 47, 40, 0.7);
    transform: scale(1.3);
}

.mente {
    top: 6%;
    left: 50%;
}

.cuerpo {
    top: 40%;
    left: 36%;
}

.balon {
    top: 83%;
    left: 50%;
}

/*Animaciones de circulos con borde dashed*/

.rotating-circle {
    position: absolute;
    border: 0.2rem dashed #000000;
    border-radius: 50%;
    animation: rotateCircle linear infinite;
    box-sizing: border-box;
}

@keyframes rotateCircle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.circle-1 {
    width: 30%;
    aspect-ratio: 1 / 1;
    top: 1%;
    left: 35%;
    animation-duration: 17s; /* velocidad de rotación */
    z-index: 2;
}

.circle-2 {
    width: 80%;
    aspect-ratio: 1 / 1;
    top: 20%;
    right: 25%;
    border-color: #000000;
    animation-duration: 50s; /* más lento */
    animation-direction: reverse; /* dirección opuesta */
}

.circle-3 {
    width: 26%;
    aspect-ratio: 1 / 1;
    bottom: 1%;
    left: 40%;
    border-color: #000000;
    animation-duration: 8s; /* más rápido */
    z-index: 2;
}

/*Contenido derecha*/

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
}

.hero-right img {
    width: 40rem;
    height: auto;
}

.titulo-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5vw; 
    line-height: 0.6; 
    margin-top: 2rem;
    color: #2D2D2D;
}

.titulo-hero span {
    font-size: 11vw;
    line-height: 1;
    font-weight: 800;
}

/*balon con metodos */
.contenedor-balon-metodos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.balon-central{
  position: relative;
  width: 500px;
  height: 500px;

  
}

.balon-solo {
    position: absolute;
    top: 42px;
    left: 44px;
    height: 350px;
    width: 350px;
    z-index: 1;
}

/*imagen con los metodos sobre balon */
.imagen-metodos {
    position: absolute;
    top: 0;
    left: 0;
    height: 430px;
    width: 430px;
    z-index: 2;
}

/*seccion metodos texto */
.textos-metodos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    
}

.metodos{
    width: 350px;
}

.metodos h2 {
    text-transform: uppercase;
    border-bottom: solid 2px #000;
}

/*cesped*/
.cesped {
    flex-basis: 100%;
    width: 100%;
    
   
}

/*-----------FONTS-------------*/

/* Regular */
@media (max-width: 900px) {
    #hero {
        flex-wrap: wrap;          /* ahora sí se apilan */
        flex-direction: column;   /* se apilan verticalmente */
        align-items: center;
    }

    .hero-left {
        margin-right: 0;          /* quita el margen negativo */
    }

    .hero-right {
        margin-top: 2rem;         /* separa del hero-left */
    }
}