@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilos para todas las páginas*/
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2D2D2D;
    font-size: 20px;
    line-height: 1.3;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    box-sizing: border-box;
}

strong {
    color: inherit;
}

p {
    text-align: justify;
}

/*Estilos color*/
.color-fondo-negro {
    background-color: #000000;
}

.color-fondo-rojo {
    background: #c71818;
}


/*Estilos de texto especificos*/
.texto-rojo {
    color: #FA0C00;
}

.texto-blanco {
    color: #fff;
}

.texto-blanco * {
    color: inherit; /* obligamos a que todos los hijos tomen el color del padre */
}

.texto-negro {
    color: #2D2D2D;
}

.texto-poco-espaciado {
    letter-spacing: -5px;
}

.texto-negrita {
    font-weight: 600;
    color: inherit;
    font-size: inherit;
}

.texto-negrita-fuerte {
    font-weight: 700;
    color: inherit;
}

.texto-mas {
    font-size: 150px;
    font-weight: 800;
}

.texto-centro {
    text-align: center;
}

.texto-justificado {
    text-align: justify;
}

/*Titulos y subtitulos*/
.titulo-principal {
    font-size: 100px;
    font-weight: 800;
}

.titulo-seccion {
    font-size: 90px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

.subtitulo-destacado {
    font-size: 50px;
    font-weight: 800;
}

.subtitulo {
    font-size: 40px;
    font-weight: 800;
}

.texto-destacado {
    font-size: 35px;
}

.texto-secundario {
    font-size: 25px;
}

/*-----------ESTILOS NAVBAR-------------*/
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-luceros img {
    width: 10rem;  /* antes 150px */
    margin: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative;
    padding: 0 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    font-weight: 400;
    padding: 0;   
}

.nav-links li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;  
    top: 10%;
    height: 80%; 
    width: 2px;
    background-color: #000000;
}

.nav-links .programas-mod {
    font-weight: 800;
    color: #AB6257;
}

.nav-links .programas-mod:hover {
    color: #7D2F28;
}

.nav-links .contacto-mod {
    font-weight: 800;
    background-color: #AB6257;
    padding: 0.3rem 1.2rem;
    border-radius: 0.4rem;
    color: #FFFFFF;
}

.nav-links .contacto-mod:hover {
    background-color: #7D2F28;
    transition: background-color 0.3s ease;
}

/*-----------ESTILOS DESPLEGABLE-------------*/

.desplegable {
    position: relative;
}

.submenu {
    position: absolute;
    top: 2rem;
    left: -15rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 0.2s ease;
    min-width: 40rem;
    z-index: 100;
    list-style: none;
}

.submenu-section {
    margin-bottom: 3rem; 
}

.submenu-section:last-child {
    margin-bottom: 0;
}

.submenu-section::after {
    display: none;
}

.desplegable:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.titulo-submenu {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: #AB6257;
}

/* Grid de programas: 2 columnas */
.program-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0rem 3rem;
}

/* Enlaces del submenú */
.program-grid a {
    text-decoration: none;
    color: #2D2D2D;
    transition: transform 0.2s ease;
}

.program-grid a:hover {
    color: #7D2F28;
    transform: translateX(0.2rem);
}

/*----------------IMÁGEN DE FONDO ESTRELLA---------------------------*/

.fondo-estrella {
    background-image: url('../img/estrella_con_cesped.png');
    background-repeat: no-repeat;
    background-position: 0% -0%;
    background-size: 1100px;
    width: 100%;
    position: relative;
    z-index: 0;
}

/*----------------------ESTILOS HERO------------------------*/

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

/*Contenido izquierda*/
.hero-left img {
    width: 100vw;
    max-width: 700px;
    height: auto;
}

/*Contenido derecha*/

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-right img {
    width: 650px;
    height: auto;
}

.contenedor-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10rem;
}

.span-360 {
    font-size: 220px;
    display: inline-block;
    margin-top: -4rem;
    color: inherit;
}

/*----------------------BIENVENIDA LUCEROS------------------------*/

.bienvenida-luceros {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.bienvenida-izquierda {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.bienvenida-derecha img {
    width: 100%;
    height: auto;
    display: block;
}

.bienvenida-izquierda,
.bienvenida-derecha {
    flex: 0 0 50rem;
    max-width: 600px;
}

.contenedor-bienvenida-inferior {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.1rem;
}

/*----------------------APRENDIZAJE INTEGRAL------------------------*/

.contenedor-aprendizaje-integral {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
    gap: 3rem;
}

.contenedor-mente-cuerpo-balon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
}

.contenedor-mcb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-mcb img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;  
}

.info-aprendizaje-integral {
    padding: 0rem 5rem;
}

.contenedor-mental-fisico-tecnico {
    display: flex;
    flex-wrap: wrap; 
    gap: 3rem;
    padding: 0rem 5rem;
}

.contenedor-bloque {
    flex: 1 1 30%;
    min-width: 250px;
    box-sizing: border-box;
}

.contenedor-subtitulo {
    padding-bottom: 10px;
    border-bottom: 4px solid #2D2D2D;
}

.contenedor-subtitulo h3 {
    margin-bottom: 0.1rem;
    margin-top: 0;
}

.contenedor-caja-linea-superior {
    padding-top: 1rem;
}

/*cesped*/
.cesped {
   background-image: url(../img/cesped2.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 25vh;
   padding: 0;
   margin: 0;
}

/*-----------SECCIÓN PROGRAMAS-------------*/

.contenedor-programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0rem;
}


.grid-programas {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
}

/* TARJETA PROGRAMA */

.tarjeta-programa {
    position: relative;
    display: block;
    flex: 0 0 30rem;
    width: 100%;
    max-width: 20rem;
    height: 15rem;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

/* IMAGEN DE FONDO */

.fondo-tarjeta {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/* PARTE FRONTAL */

.tarjeta-frente {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
}

.titulo-tarjeta {
    color: white;
    margin-top: 0.3rem;
}

/* BOTÓN + INFO */

.tarjeta-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* TARJETA TRASERA */

.tarjeta-trasera {
    position: absolute;
    inset: 0;
    z-index: 3;
    color: #fff;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.1s ease;
}

/* INTERACCIONES */

.tarjeta-programa:hover .tarjeta-trasera {
    transform: translateY(0);
}

/*----------------------SECCION EMBAJADORES------------------------*/

.seccion-embajadores {
    padding: 3rem 3rem;
}

.seccion-embajadores h2{
    color: #FA0C00;
}

.colaboradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.colaborador {
    flex: 1 1 calc(25% - 2rem); 
    max-width: calc(25% - 2rem);
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid red;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre {
    margin-top: 0.8rem;
}


/*----------------------SECCION FOOTER------------------------*/

.container-final {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem 5vw;
}

.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer-col p, .footer-col a, .footer-col li {
    font-size: 0.9rem;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
}

.logo-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.logo-copyright img {
    display: block;
    width: 30%;
    height: auto;
    padding-top: 5rem;
}

.logo-copyright p {
    width: 100%;
    text-align: center;
}

